<ul>
  <li *ngFor = "let item of reimbTicket"> Reimbursement Id {{ item.reimbId}} </li> 
          <li *ngFor = "let item of reimbTicket">  Reimbursment Amount {{ item.reimbAmount}} </li>
          <li *ngFor = "let item of reimbTicket"> Reimbursement Author {{ item.reimbAuthor}} </li>
          <li *ngFor = "let item of reimbTicket"> Reimbursement Resolver {{ item.reimbResolver}} </li>
          <li *ngFor = "let item of reimbTicket"> Reimbursement Status Id {{ item.reimbStatusId}} </li>
          <li *ngFor = "let item of reimbTicket"> Reimbursement Type Id {{ item.reimbTypeId}} </li>
          <li *ngFor = "let item of reimbTicket"> Reimbursement Description {{ item.reimbDescription}} </li>
</ul>


